services:
  php:
    build: .
    container_name: php-math-test
    volumes:
      - .:/app
    working_dir: /app
    command: tail -f /dev/null
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

